In [1]:
import numpy as np
import pandas as pd
# Lec6을 참고하여, 문자가 Nan이면 unknown 숫자가 Nan이면 -9999로 바꿔준다

In [2]:
country = pd.read_csv('C:/Users/82102/Desktop/SW Study/2022_2학년 2학기/전산통계학/데이터/country.csv', index_col = 0)
country['density'] = country['population'] / country['area']
new_value = pd.DataFrame(index=['FR'],data=[('France',265449,'Paris',126793004,34567)],
                            columns=['country','area','capital','population','density'])
country4 = country.append(new_value)
country4['area'] = country4['area'].fillna(-9999)
country4['capital'] = country4['capital'].fillna('unknown')
country4['density'] = country4['density'].fillna(-9999)
country4

C:\Users\82102\AppData\Local\Temp\ipykernel_1308\556854155.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  country4 = country.append(new_value)

   country        area     capital  population       density
KR   Korea     98480.0       Seoul    51780579    525.797918
US     USA   9629091.0  Washington   331002825     34.375293
JP   Japan     -9999.0       Tokyo   125960000  -9999.000000
CN   China   9596960.0     Beijing  1439323688    149.977044
RU  Russia  17100000.0      Moscow   146748600      8.581789
CA  Canada     -9999.0     unknown    13526277  -9999.000000
FR  France    265449.0       Paris   126793004  34567.000000